<div id="game1" class="gameboard auto-margins">
    <div class="add-twenty pull-left">Score: <span id="currentscore">0</span></div>
    <div class="add-twenty pull-right">High Score: <span id="highscore">0</span></div>
    <div id="header">S N A K E</div>
    <div id="canvaswrapper"><canvas id="snakegame" width="<%= boardWidth %>" height="<%= boardHeight %>" tabdindex="1"></canvas></div>
    <div id="controlboard">
        <div id="controlleft" class="pull-left"><img id="arcadebuttons" src="assets/images/woodpanel-left.gif"/></div>
        <div id="controlmiddle" class="pull-left"><img id="arcadebuttons" src="assets/images/fourbuttons.gif"/></div>
        <div id="controlright" class="pull-left"><img id="arcadebuttons" src="assets/images/woodpanel-right.gif"/></div>
    </div>
</div>